<div class="container mt-4 text-center">
  <h1 class="mb-4">Starships Dashboard</h1>

  <div class="form-group">
    <label for="manufacturer">Filter by Manufacturer:</label>
    <select
      class="custom-select"
      id="manufacturer"
      [(ngModel)]="selectedManufacturer"
      [ngModelOptions]="{ standalone: true }"
      (change)="onManufacturerChange()"
    >
      <option value="" disabled selected>Select a Manufacturer</option>
      <option *ngIf="manufacturers.length === 0" disabled>Loading manufacturers...</option>
      <option *ngFor="let manufacturer of manufacturers" [value]="manufacturer.id">
        {{ manufacturer.name }}
      </option>
    </select>
  </div>

  <table *ngIf="starships.length > 0" class="custom-table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Model</th>
      <th>Class</th>
      <th>Length</th>
      <th>Manufacturers</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let starship of starships">
      <td>{{ starship.name }}</td>
      <td>{{ starship.model }}</td>
      <td>{{ starship.class }}</td>
      <td>{{ starship.length }}</td>
      <td>{{ starship.manufacturer.join(', ') }}</td>
    </tr>
    </tbody>
  </table>

  <p *ngIf="starships.length === 0" class="text-center mt-4">No starships found for the selected manufacturer.</p>
</div>
