<div class="container mt-4">
  <h1>Starships Dashboard</h1>
  <div class="form-group">
    <label for="manufacturer">Filter by Manufacturer:</label>
    <select
      class="form-control"
      id="manufacturer"
      [(ngModel)]="selectedManufacturer"
      (change)="onManufacturerChange()">
      <option value="">All Manufacturers</option>
      <option *ngFor="let manufacturer of manufacturers" [value]="manufacturer.id">
        {{ manufacturer.name }}
      </option>
    </select>
  </div>

  <table class="table table-striped mt-4">
    <thead>
    <tr>
      <th>Name</th>
      <th>Model</th>
      <th>Class</th>
      <th>Length</th>
      <th>Manufacturers</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let starship of starships">
      <td>{{ starship.name }}</td>
      <td>{{ starship.model }}</td>
      <td>{{ starship.class }}</td>
      <td>{{ starship.length }}</td>
      <td>{{ starship.manufacturer.join(', ') }}</td>
    </tr>
    </tbody>
  </table>
</div>
